<form class="formulaire" [formGroup]="insertUpdate" (ngSubmit)="insertUpdateArticle()">
  <div class="flex_container">
   <div class="flex">
     <div>
       <label for="libelle" class="form-label">Libelle</label>
       <input type="text" [class.is-invalid]="insertUpdate.get('libelle')?.invalid && insertUpdate.get('libelle')?.touched" [class.is-valid]="insertUpdate.get('libelle')?.valid" class="form-control input_with"   formControlName="libelle" id="libelle" aria-describedby="libelle" (change)="chargerRef()">
       <div class="text-danger" *ngIf="insertUpdate.get('libelle')?.dirty && insertUpdate.get('libelle')?.invalid && insertUpdate.get('libelle')?.touched ">le libelle n'est pas valide.</div>
     </div>

     <div>
       <label for="categorie" class="form-label">categorie</label>
       <select class="form-select input_with" [class.is-invalid]="insertUpdate.get('categorie')?.invalid && insertUpdate.get('categorie')?.touched" formControlName="categorie" aria-label="categorie" (change)="chargerRef()">
         <option value="">Open this select menu</option>
         <option *ngFor="let categorie of tableauCategorie" value="{{categorie.libelle}}">{{categorie.libelle}}</option>
       </select>
       <div class="text-danger" *ngIf="insertUpdate.get('categorie')?.dirty && insertUpdate.get('categorie')?.invalid">le categorie est obligatoire.</div>
     </div>
   </div>

   <div class="flex promoValue">
     <div class="mb-3 form-check">
       <label class="form-check-label" for="exampleCheck1">Promo</label>
       <input type="checkbox" [checked]="promo" (input)="isPromo($event)" class="form-check-input" id="exampleCheck1">
     </div>
     <div class="promo" *ngIf="promo" >
       <label for="libelle" class="form-label">Value</label>
       <input type="text" formControlName="valuePromo" class="form-control value promo" id="libelle" aria-describedby="libelle">

     </div>
   </div>

  <div class="formControleInput">
    <button type="button" class="btn btn-primary" (click)="addNewArticle()">Ajouter</button>
    <table class="table table-bordered addLibelle">
      <thead>
        <tr>
          <td>Libelle</td>
          <td>Quantité</td>
          <!-- <td>Action</td> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let articleCtrl of articleConf; let i = index" [formGroup]="articleCtrl">
          <td>
            <input id="{{i}}" type="text" class="form-control" formControlName="libelle"
            (input)="searchArticle($event);activeInputIndex"
            [class.is-valid]="articleCtrl.get('libelle')?.valid"
            [class.is-invalid]="articleCtrl.get('libelle')?.invalid && articleCtrl.get('libelle')?.touched">
            <!-- <div *ngIf="articleCtrl.get('libelle')?.errors?.['articleExists']" class="" style="color: rgb(244, 36, 36);">
              Cet article existe déjà.
            </div> -->
          </td>
          <td><input id="{{i}}" type="number" class="form-control"  formControlName="quantite" (change)="recupQuantite($event)" [readOnly]="isLibelleInvalid(i)" (input)="calcul($event)"></td>
          <!-- <td><button type="button" class="btn btn-danger" (click)="removeColumncontrol(i)">Supprimer</button></td> -->
        </tr>
      </tbody>
    </table>
  </div>

   <div class="calcul">
     <div class="inputNumber">
       <label for="marge" class="form-label">Marge</label>
       <input type="number" [class.is-invalid]="insertUpdate.get('marge')?.invalid" [class.is-valid]="insertUpdate.get('marge')?.valid" class="form-control numberPrix" (input)="recupMerge($event)" formControlName="marge" id="marge" aria-describedby="marge">
       <div *ngIf="insertUpdate.get('marge')?.invalid && insertUpdate.get('marge')?.dirty && insertUpdate.get('marge')?.touched" style="color: rgb(244, 36, 36);">
          la marge est comprise entre 5000 et 1/3 du cout de fabrication
      </div>
     </div>
     <div class="inputNumber">
       <label for="cout_fabrication" class="form-label">Cout fabrication</label>
       <input type="number" class="form-control numberPrix" formControlName="coutFabrication" id="cout_fabrication" readonly aria-describedby="cout_fabrication">
     </div>
     <div class="inputNumber">
       <label for="prix_vente" class="form-label">Prix vente</label>
       <input type="number" class="form-control  numberPrix" formControlName="prix" id="prix_vente" readonly aria-describedby="prix_vente">
     </div>
   </div>
  </div>

  <div class="flex_container">
   <div class="upload">
     <img [src]="photo?.value" width= 100 height = 100 alt="">
     <div class="round">
       <input type="file" accept="images/" formControlName="photo" (change)="onFileChange($event)">
       <i class = "fa fa-camera" style = "color: #fff;"></i>
     </div>
   </div>

   <div class="mb-3 refclass">
     <label class="form-label" for="stock">Ref</label>
     <input type="text" class="form-control refclass" formControlName="Ref" readonly/>
   </div>

   <button type="submit" [disabled]="!insertUpdate.valid" class="btn btn-primary">Submit</button>
  </div>

  <div class="champsSelection">
    <p (click)="recupLibelle($event)" data-id="" *ngFor="let selection of FilterArticle">{{selection.libelle}}</p>
  </div>
 </form>

 <app-liste-article-vente
 [recupDonneeArticleVente]="recupDonneeArticleVente"
 (pagination)="onPageChange($event)"
  [currentPage]="currentPage"
  [itemsPerPage]="itemsPerPage"
  [totalItems]="totalItems"
  (idArticleVenteSuppresion)="supprimerArticle($event)"
  (idArticleVenteModification)="chargerFormulaire($event)"
  (PerPage)="recupPage($event)"
  (trierArticle)="recupValTrie($event)"
 ></app-liste-article-vente>

